body
{
    margin: 0;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner
{
    height: 75px;
    width: 100%;
    background-color: #E2A257
}

#menu
{
    background: transparent;
    float: left;
    width: 10%;
    padding-left: 2%;
    padding-top: 22px;
}

#menuToggle
{
    float: left;
    width: 90%;
    background: transparent;
    border: 0;
}

#logo
{
    padding-left: 3%;
    padding-top: 25px;
    float: left;
}

#uelogo
{
    height: 20px;
}

.space
{
    width: 22%;
    height: 70px;
    float: left;
}

.profil
{
    float: left;
    height: 17px;
    border-radius: 20px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    text-decoration: none;
    border-radius: 500px;
    padding: 8px 10px;
    margin-top: 17px;
    margin-left: 10px;
}

#signup
{
    padding-top: 22px;
    float: left;
    text-decoration: none;
    margin-left: 20px;
}

.signup_button
{
    background-color: black;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    color: white;
    text-decoration: none;
    font-size: 14px;
    height: 36px;
    padding: 8px 12px;
    border-radius: 500px;

}

.imgmain
{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -15;
}

.imgmain3
{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -16;
}

.order
{
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 23px;
    font-family: sans-serif;
}



#openOverlayBtn 
{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.3s;
}

#fixedDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    z-index: 150;
  }


.address
{
    background-color: white;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
}

.address2
{
    background-color: rgb(219, 219, 219);
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-right: 40px;
}

.pin
{
    height: 26px;
    
}

.delivery
{
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 16px;
    z-index: 50;
}

.delivery2
{
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 16px;
    z-index: 150;
}

.overlay5
{
    height: 50px;
    width: 100%;
    background-color: #6b3c07;
}





.findfood
{
    background-color: black;
    padding: 20px 149px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}

.orsignin
{
    margin-top: 50px;
    font-size: 15px
}

#link
{
    color: black;

}

.login
{
    width: 20px;
}



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Przyciemnienie: rgba(0, 0, 0, 0.5) - kolor czarny z 50% przezroczystości */
    z-index: 99; /* Ustawiamy wartość z-index niższą niż menu, aby overlay nie przykrywał menu */
  }


.menu {
    position: fixed;
    top: 0;
    left: -290px;
    height: 100%;
    width: 290px;
    background-color: #ffffff;
    padding-top: 40px;
    transition: 0.5s;
    z-index: 100;
  }

.signup-container
{
    height: 125px;
}
  
  .signup
  {
    background-color: black;
    padding: 15px 90px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 7px;
    font-weight: bold;
    margin-left: 22px;
  }

  #login
  {
    background-color: rgb(243, 243, 243);
    padding: 15px 96px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    border-radius: 7px;
    font-weight: bold;
    margin-left: 22px;
  }

#fill
{
    height: 10px;
    width: 100%;
    padding: 15px;
}

#fill2
{
    height: 10px;
    width: 100%;
    padding: 3px;
}

.linklist
{
    margin-left: 22px;
}

.linklist a
{
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

.linklist li
{
    margin-top: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.app
{
    padding-top: 500px;
    margin-left: 22px;
}

.app img
{
    height: 60px;
}

.app p
{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.fl
{
    float: left;
}

.w
{
    width: 170px;
    margin-top: 10px;
    margin-left: 15px;
}

.applelogo
{
    width: 15px;
}

.mt80
{
    margin-top: 80px;
}

.mt80 a
{
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    color: black;
    padding: 8px 10px;
    border-radius: 100px;
    margin-left: 22px;
}




.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    cursor: pointer;
}

.deliver
{
    margin-top: 70px; 
    margin-left: 22px;
}

.deliveryaddress
{
    background: #EEEEEE;
    padding: 10px 20px;
    width: 350px;
    border-radius: 50px;
    margin-left: 20px;
}

.enterda
{
    background: #EEEEEE;
    outline: none;
    border: none;
    font-size: 15px;
}


.overlay3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
}

.pickatime
{
    background-color: #EEEEEE;
    border: none;
    font-size: 16px;
    -webkit-appearance: none; /* Ukrywa strzałki w przeglądarkach opartych na silniku WebKit (Chrome, Safari) */
    -moz-appearance: none; /* Ukrywa strzałki w przeglądarkach opartych na silniku Gecko (Firefox) */
    appearance: none;
    margin-top: 10px;
    width: 340px;
}

#pickatime
{
    padding: 10px 10px;
    background-color: #EEEEEE;
    margin-left: 20px;
    width: 370px;
    height: 36px;
}

.shedule
{
    margin-top: 530px;
}

#shedule
{
    background-color: black;
    padding: 15px 158px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 7px;
    font-weight: bold;
    margin-left: 22px;
}

#delivernow
{
    background-color: #EEEEEE;
    padding: 15px 142px;
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-size: 18px;
    border-radius: 7px;
    font-weight: bold;
    margin-left: 22px;
}



.main2
{
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 750px;
    position: relative;
    align-items: flex-start;
    margin-top: 130px;
}


.img1
{
    width: 65px;
    padding-top: 20px;
    padding-left: 20px;
}

.w70
{
    width: 75%;
    padding-left: 15px;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
}

.getapp
{
    border: none;
    padding: 16px 142px;
    border-radius: 10px;
    background-color: #dadada;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.imgmain2
{
    width: 95%;
    margin-top: 30px;
}

.w100
{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
}

.p1
{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}

.p2
{
   font-size: 18px; 
   padding-left: 10px;
   text-decoration: underline;
}

.main3
{
    padding-top: 770px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.fr {
    grid-template-columns: repeat(2, 1fr);
}
.fq {
    grid-template-rows: repeat(6, 1fr);
}
.fp {
    gap: 16px 8px;
}
.fo {
    grid-auto-flow: column;
}

.fn {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fu
{
    text-decoration: none;
    color: black;
}

.cities500
{
    color: black;
    font-weight: bold;
}

.fq2 {
    grid-template-rows: repeat(15, 1fr);
}

footer
{
    padding-left: 16px;
    height: auto;
    width: 100%;
}

.by
{
    padding-right: 10px;
}

.mb48
{
    margin-bottom: 48px;
    margin-top: 20px;
}

.gh
{
    margin-bottom: 64px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.gh a
{
    color: black;
    text-decoration: none;
    margin-bottom: 16px;
}

.cc
{
    height: 16px;
    width: 16px;
    margin-right: 25px;
    flex: none;
}

.sm
{
    color: white;
    text-decoration: none;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    overflow: hidden;
    margin: -1px;
    white-space: nowrap;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.fwl
{
    font-weight: lighter;
}

.mb15
{
    margin-bottom: 15px;
}

.mt30
{
    margin-top: 30px;
}

.map
{
    height: 410px;
    width: 410px;
}

.a2
    {
        color: white;
        text-decoration: none;
        height: 1px;
        width: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
    }



@media screen and (min-width: 375px) /*Ip se*/
{
    .banner
    {
        background-color: transparent;
    }
    #logo
    {
        padding-left: 0px;
    }
    #menu
    {
        width: 50px;
    }
    .space
    {
        width: 50px;
    }
    .order
    {
        padding-left: 15px;
    }
    .findfood
    {
    padding: 20px 126px;
    }
    .img1
    {
    width: 55px;
    }
    .main2
    {
        top: 465px;
    }
    .getapp
    {
        padding: 16px 120px;
    }
    .imgmain
    {
        right: 0;
    }
    .p1
    {
        padding-left: 10px;
    }
    .p2
    {
        padding-left: 10px;
    }
    .main3
    {
        padding-top: 500px;
    }
}

@media screen and (min-width: 390px) /*Ip 12 pro*/
{
    .banner
    {
        background-color: #e09e53;
    }
    .space
    {
        width: 70px;
    }
    .findfood
    {
    padding: 20px 134px;
    }
    .address
    {
        padding-right: 50px;
    }
    .main2
    {
        top: 660px;
    }
    .main3
    {
        padding-top: 700px;
    }
    .getapp
    {
        padding: 16px 140px;
    }
}

@media screen and (min-width: 414px) /*Ip xr*/
{
    .space
    {
        width: 80px;
    }
    .findfood
    {
    padding: 20px 146px;
    }
    .main2
    {
        top: 710px;
    }
}

@media screen and (min-width: 414px) /*Ip 14 pro max*/
{
    .space
    {
        width: 100px;
    }
    .findfood
    {
    padding: 20px 150px;
    }
    .main2
    {
        top: 730px;
    }
    .getapp
    {
        padding: 16px 150px;
    }
}

@media screen and (min-width: 768px) /*ipad mini*/
{
    .banner
    {
        background-color: transparent;
    }
    #menu
    {
        width: 50px;
    }
    .space
    {
        width: 420px;
    }
    .order
    {
        padding-left: 185px;
    }
    .main2
    {
        top: 860px;
    }
    .getapp
    {
        padding: 16px 300px;
    }
    .imgmain
    {
        right: 0;
    }
    .p1
    {
        padding-left: 20px;
    }
    .p2
    {
        padding-left: 20px;
    }
    .map
    {
    height: 410px;
    width: 97%;
    }

}



@media screen and (min-width: 820px) /*ipad air*/
{
    .space
    {
        width: 470px;
    }
    .order
    {
        padding-left: 210px;
    }
    .main2
    {
        top: 1000px;
    }
    .getapp
    {
        padding: 16px 325px;
    }
    .imgmain
    {
        right: 0;
    }
    .main3
    {
        padding-top: 1000px;
    }
}





@media screen and (min-width: 1024px) /*ipad pro*/
{
    .space
    {
        width: 660px;
    }
    .order
    {
        padding-top: 440px;
        padding-left: 30px;
        position: relative;
    }
    .order h2
    {
        font-size: 50px;
    }
    .address
    {
        padding-right: 300px;
        margin-top: 0px;
    }
    .findfood
    {
    padding: 15px 15px;
    float: left;
    }   
    .main2
    {
        top: 700px;
    }
    .getapp
    {
        padding: 16px 420px;
    }
    .delivery
    {
        float: left;
    }
    .delivery2
    {
        float: left;
    }
    .a1
    {
        width: 200px;
        padding: 0px;
        padding-left: 15px;
    }
    .a2
    {
        color: black;
        position: relative;
        font-weight: bold;
    }
    #uelogo 
    {
        height: 25px;
    }
    .profil
    {
    padding: 15px 15px;
    margin-top: 10px;
    }
    .signup_button 
    {
        padding: 15px 17px;
        margin-top: 10px;
        font-size: 15px;
    }
    .imgmain3
    {
    z-index: -14;
    object-fit: cover;
    object-position: center;
    }
}

@media screen and (min-width: 1124px) /*pc*/
{
    .space
    {
        width:75%;
    }
    .order
    {
        padding-top: 240px;
        padding-left: 30px;
        position: relative;
    }
    .address
    {
        padding-right: 330px;
        margin-top: 0px;
        margin-left: 13px;
        margin-right: 10px;
    } 
    .main2
    {
        top: 230px;
    }
    .main3
    {
        padding-top: 450px;
    }
    .getapp
    {
        background-color: transparent;
        color: transparent;
        padding: 0px;
    }
    
    .a1
    {
        width: 190px;
        padding: 0px;
        padding-left: 10px;
        margin: 0px;
    }
    .findfood
    {
        float: left;
        margin-left: 10px;
        margin-top: -28px;
        padding: 18px 15px;
    }
    .orsignin
    {
    margin-top: 60px;
    margin-left: 15px;
    }
    .img1
    {
        height: 0px;
        padding: 0px;
    }
    .p3
    {
        color: transparent;
        margin: 0px;
        height: 0px;
    }
    .w70
    {
    padding-bottom: 0px;
    }
    .applelogo
    {
    width: 0px;
    }
    .w100
    {
        padding: 0px;
        height: 0px;
    }
    #photos
    {
        float: left;
        width: 33%;
        background-color: white;
    }
    .photos
    {
        background-color: white;
        width: 100%;
        height: 400px;
        align-items: center;
    }
}